@page "/"
@using TradingSystem.Data
@using TradingSystem.Logic
@using TradingSystem.Setup
@inject JsLogger Logger
@inject IClient ClientService
@rendermode InteractiveServer
<h3>Client</h3>

@if (!_isAuthenticated)
{
    <p>Indtast kode for at fortsætte:</p>
    <input type="password" @bind="clientId" />
    <button @onclick="Login">Login</button>
}

@if (_isInitialized)
{
    <h3>Logged in as @clientId</h3>
    <h4>Select stocks to stream prices</h4>
    @foreach (var stock in stocks)
    {
        <div>
            <label>@stock.InstrumentId</label>
            <input type="checkbox" @bind="stock.EnableLivePrices"/>
        </div>
    }
}else
{
    <p>Please login first</p>
}

@code {
    private List<StockOptions> stocks = new();
    private bool _isInitialized = false;
    private bool _isAuthenticated = false;
    private string clientId = "";

    private async Task Login()
    {
        _isAuthenticated = true;
        stocks = ClientService.GetStockOptions();
        await Logger.LogAsync("Started session for user: " + clientId);
        _isInitialized = true;
    }
}